
/* Navigation Menu for webpage  */
nav .menu {
  overflow: hidden;
  background-color: white;
  text-align: center;
  position: center;
  top: 0;
  width: 100%;
}

nav .menu a {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav .menu a:hover {
  background-color: whitesmoke;
}

/* Section contains most the text for style and format  */
body {
    background: white;
    
  }
  .video-container {
    position: relative;
    
  }
  video {
    height: auto;
    vertical-align: middle;
    width: 100%;
  }
  .overlay-desc {
    background: rgba(0,0,0,0);
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .videotext{
    color: white;
    font-family: 'Nobile', sans-serif;
    font-size: 1.1rem;
    line-height: 1.7rem;
    text-align: center;
  }
  


  main {
    margin: 0 auto;
    width: 80%;
  }
  
  p {
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1rem;
    line-height: 1.7rem;
  }

  .art1syle {
    text-align: center;
    font-size: 2vw;
    color: black;
  }

  .row {
    display: flex;
  }
  
  .column {
    flex: 33.33%;
    padding: 5px;
  }

  .virtual {
    position: relative;
    width: 50%;
  }
  
  .image {
    display: block;
    width: 75%;
    height: 100%;
  }
  
  /* Text overlay for pics  */
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height:auto;
    width: 75%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgb(222, 229, 231);
  }
  
  /* Overlay for pics  */
  .virtual:hover .overlay {
    opacity: 1;
  }
  
  /* format Text over pics  */
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }
  

  /* Footer */
.footer {
  padding: 5px;
  text-align: center;
  background: whitesmoke;
  margin-top: 5px;
  color: black;
  }
  /* Style all font awesome icons */
  .fa {
    padding: 20px;
    font-size: 20px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}

/* Google */
.fa-google {
  background: #dd4b39;
  color: white;
}

/* Linkedin */
.fa-linkedin {
  background: #007bb5;
  color: white;
}
/* youtube */
.fa-youtube {
  background: #bb0000;
  color: white;
}
/* rss */
.fa-rss {
  background: #ff6600;
  color: white;
}

